/* 
    CREDITS.CSS - styles exclusive for CREDITS.HTML
*/
th, td {
    outline: 2px black solid;
}
th {
    padding: 1rem 2rem;
}
td { 
    text-align: center;
    padding: 0.5rem 1rem;
}

.table-overflow {
    overflow-x: auto;
    overflow-y: hidden;
}