/* 
    CUISINE.CSS - styles exclusive for CUISINE.HTML
*/
@media (min-width: 40em) {
  .img-pair {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
  .img-pair img {
    max-width: 50%;
  }
}
