/*--------------------------------------------------------------
    MAIN.CSS - main css sheet for website
----------------------------------------------------------------
    >>> TABLE OF CONTENTS:
----------------------------------------------------------------
    # BASE
        - Typography
        - Elements
        - Links
    # LAYOUTS
        - Header
        - Main
        - Footer
    # MEDIA QUERIES
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# START OF BASE
--------------------------------------------------------------*/

/* Typography
--------------------------------------------- */
body {
  font-family: "Quicksand", Arial, sans-serif;
  background-color: #f6fbff;
  color: #03121f;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  margin: 0 2rem 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Gochi Hand", Helvetica, sans-serif;
  margin: 1rem 0 0;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2rem;
}

p {
  margin: 0;
  max-width: 25rem;
}

/* Elements
--------------------------------------------- */
section {
    background-color: #B8DEFF;
    padding: 0 2rem 1.5rem;
    width: fit-content;
    border-radius: 5%;
}

video { 
    margin: 0.5rem 0;
}