/*--------------------------------------------------------------
    MAIN.CSS - main css sheet for website
----------------------------------------------------------------
    >>> TABLE OF CONTENTS:
----------------------------------------------------------------
    # BASE
        - Typography
        - Elements
        - Links
    # LAYOUTS
        - Header
        - Main
        - Footer
    # MEDIA QUERIES
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# START OF BASE
--------------------------------------------------------------*/

/* Typography
--------------------------------------------- */
body {
  font-family: "Quicksand", Arial, sans-serif;
  background-color: #f6fbff;
  color: #03121f;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  margin: 1rem 2rem 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Gochi Hand", Helvetica, sans-serif;
  margin: 1rem 0 0;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2rem;
}

p {
  margin: 0;
  max-width: 25rem;
}

/* Elements
--------------------------------------------- */
ul li {
    display: inline;
}

section {
    background-color: #B8DEFF;
    padding: 0 2rem 1.5rem;
    width: fit-content;
    border-radius: 5%;
}

video { 
    margin: 0.5rem 0;
}

/* Links
--------------------------------------------- */
a {
    color: #F6FBFF;
    text-decoration: none;
    font-weight: 700;
    padding: 1rem 0.5rem;
}

a:visited {
    color: #F6FBFF;
}

a:hover {
    color: #C2C2FF;
}

a:focus {
    border: 1px solid #C2C2FF;
}

a:active {
    background-color: #C2C2FF;
    color: #03121f;
}

/*--------------------------------------------------------------
# START OF LAYOUTS
--------------------------------------------------------------*/

/* Header
--------------------------------------------- */
#menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 0 auto;
    padding: 1rem 0.5rem;
    background-color: #14105C;
    width: 100%;
    z-index: 100;
    display: flex;
    justify-content: space-evenly;
}

#logo {
    color: #14105C;
    margin: 0 auto;
    height: fit-content;
}

/* Footer
--------------------------------------------- */
footer {
    margin-top: 5rem;
}

footer p {
    max-width: 30rem;
    margin: 0 auto;
}

/*--------------------------------------------------------------
# END OF LAYOUTS
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# START OF MEDIA QUERIES
--------------------------------------------------------------*/
@media(min-width: 60em) {
    #menu {
        left: 0;
        top: 0;
        max-width: 15rem;
        position: fixed;
        height: 100%;
        flex-flow: column;
        padding: 4rem;
        background-color: #14105C;
        display: flex;
        justify-content: center;
        gap: 5rem;
    }

    #nav-bar {
        position: static;
        flex-flow: column;
        justify-content: space-evenly;
        margin-top: 0;
    }

    #nav-bar li {
        padding: 1rem 0;
        font-size: 1.25rem;
    }

    #home {
        display: none;
    }

    main, footer { 
        padding-left: 15rem;
    }
}
/*--------------------------------------------------------------
# END OF MEDIA QUERIES
--------------------------------------------------------------*/