/*--------------------------------------------------------------
    MAIN.CSS - main css sheet for website
----------------------------------------------------------------
    >>> TABLE OF CONTENTS:
----------------------------------------------------------------
    # BASE
        - Typography
        - Elements
        - Links
    # LAYOUTS
        - Header
        - Main
        - Footer
    # MEDIA QUERIES
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# START OF BASE
--------------------------------------------------------------*/

/* Typography
--------------------------------------------- */
body {
  font-family: "Quicksand", Arial, sans-serif;
  background-color: #f6fbff;
  color: #03121f;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Gochi Hand", Helvetica, sans-serif;
}
